<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /seu-diretorio/  # Substitua "seu-diretorio" pelo caminho relativo do seu aplicativo

    # Remover a extensão .php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^([^\.]+)$ $1.php [NC,L]

    # Roteamento para index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>
